@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: #323232;
    border: none;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

a {
    color: #3E54AC;
}

body {
    padding-top: 5vh;
    background-color: #FBF1E6;
    background-size: cover;
    background-position-y: -150px;
}

/* form */
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 25px;
    border: 1px solid black;

}

#main-container:hover {
    box-shadow: -30px 30px 0px black;
    transition: 1s;
}

#main-container h1 {
    text-align: center;
    margin: 1em 0 2em 0;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input[type="submit"] {
    background-color: #000;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #323232;
}

#agreement {
    margin-right: 5px;
}

#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
}

.template {
    display: none;
}